.DS_Store
examples
gen
spec
result
subprojects/packagecache
subprojects/pcre2-10.42
subprojects/pcre2.wrap
builddir
.ccls-cache
subprojects/glib-2.78.3
subprojects/gstreamer-1.0
subprojects/libffi
subprojects/glib.wrap
subprojects/gvdb.wrap
subprojects/vpx
subprojects/libffi.wrap
subprojects/vpx.wrap
